extends layout

mixin game(item)
    tr(class="mdc-data-table__row").content
        if item.score == null
            td -
        else
            td.metascore #{item.score}
        td #{item.discount}
        td #{item.title}
        td #{item.saleDetails.price}
        td #{item.priceRegular}
        td #{item.saleDetails.daysLeft}
        td
            a(class="mdc-icon-button meterial-icons" href='https://www.nintendo.de' + item.nintendoUrl rel="noopener noreferrer" target="_blank")
                i(class="material-icons mdc-button__icon") storefront
            if item.score != null && item.score > -1
                a(class="mdc-icon-button meterial-icons" href=item.metacriticUrl rel="noopener noreferrer" target="_blank")
                    i(class="material-icons mdc-button__icon") show_chart

block content
  div.buildinfo
    span(class="badge badge-info") #{lastFetch}
    span(class="badge badge-dark") #{version}
  h1= title
  div(class="filter")
    label(for="cbRating" class="form-check-label") Display
    input(id="cbRating" type="checkbox" data-toggle="toggle" data-onstyle="dark" data-on="rated only" data-off="all games")
  div
    table(id="gamesTable" class="table table-bordered table-hover" data-toggle="table" style="width: 100%")
      thead(class="thead-dark")
        tr(class="mdc-data-table__header-row")
          th(data-sortable="true" data-field="score") Score
          th(data-sortable="true") Sale
          th(data-sortable="true") Title
          th(data-sortable="true") Actual Price
          th(data-sortable="true") Original Price
          th(data-sortable="true") Days Left
          th(scope="col") Links
      tbody
        for gameItem in gamesList
            +game(gameItem)

  script.
      window.onload = function init() {
      $('#cbRating').change(function() {
            if($(this).prop('checked'))
                filterGames();
            else
                clearFilter();
          })
      $('#gamesTable').on('sort.bs.table', function(name, order) {
            $('#cbRating').bootstrapToggle('off');
        })
      }
      function filterGames() {
      $('.content').hide();
      $('.content').filter( function() {
      return $(this).children('.metascore').length != 0;
      }).show()
      }
      function clearFilter() {
      $('.content').show();
      }